# This file should be called /etc/udev/rules.d/89delcom_clock.rules and will
# cause udev and systemd to start delcom-clock as soon as you plug in a display.
# Don't forget to create /etc/systemd/system/delcom@.service to configure systemd.

# Delcom Engineering, USB Numeric Display
# Stuart Pook http://www.pook.it/
# https://github.com/stuart12/delcom-clock

# This file was written for Debian unstable July 2017, udev 234-2 and systemd 234.

# https://yakking.branchable.com/posts/systemd-2-udevd/
ATTRS{idVendor}=="0fc5", ATTRS{idProduct}=="1227", TAG+="systemd", ENV{SYSTEMD_WANTS}="delcom@%k.service"

# sudo udevadm info --query=all  --attribute-walk  --path=/devices/pci0000:00/0000:00:1a.0/usb2/2-1/2-1:1.0

#debug
#sudo udevadm  monitor
#and then feed the UDEV add file to
#sudo udevadm test  /devices/pci0000:00/0000:00:1d.7/usb10/10-4/10-4.4 

# for a given device
# sudo udevadm test $(udevadm info --query=path --name /dev/bus/usb/007/064)
# udevadm info --name /dev/bus/usb/007/064

# don't forget to look for the clocks in /sys/bus/usb/drivers/usbsevseg/
