# Install this file as /etc/systemd/system/delcom@.service
# Don't forget to run: sudo systemctl --system daemon-reload
# Requires /etc/udev/rules.d/89delcom_clock.rules as well.

# Delcom Engineering, USB Numeric Display
# Stuart Pook http://www.pook.it/

[Unit]
# https://github.com/six-k/automount-usb/blob/master/usb-mount%40.service
Description=Show time on Delcom 7 segment LED display %I (%i)
Documentation=https://github.com/stuart12/delcom-clock

BindsTo=sys-subsystem-delcom-%i.device
After=sys-subsystem-delcom-%i.device

[Service]
ExecStart=/opt/github.com/stuart12/delcom-clock/delcom-clock %i
