# Install this file as /etc/systemd/system/delcom@.service
# Don't forget to run: sudo systemctl --system daemon-reload
# Requires /etc/udev/rules.d/89delcom_clock.rules as well.

# Delcom Engineering, USB Numeric Display
# Stuart Pook http://www.pook.it/
# https://github.com/stuart12/delcom-clock

[Unit]
Description=Show time on Delcom 7 segment LED display
[Service]
ExecStart=/usr/local/lib/delcom-clock %i
StandardOutput=journal
